<md-card>
  <md-card-title>Products Sales</md-card-title>
  <md-card-subtitle>usage stats for our products</md-card-subtitle>
  <md-divider></md-divider>
  <div layout="center" layout-margin="15px" style="height:300px;">
    <img class="img-responsive"
         src="https://cf.geekdo-images.com/images/pic1824522_md.jpg"/>
  </div>
  <md-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex massa, efficitur eu sodales eget,
      malesuada sed
      mauris. Maecenas feugiat quam ac elit ultrices, ac interdum lacus vulputate. Maecenas porttitor tempus
      metus sit
      amet fermentum. Curabitur eleifend diam nulla, ac hendrerit turpis sagittis id. Nulla vulputate odio nec
      lorem
      consequat, quis facilisis elit fermentum. Duis sed efficitur urna. Cras elementum ultrices est, in
      pulvinar
      turpis. Quisque eu lobortis purus. Proin ornare, libero quis vestibulum dignissim, libero tellus
      molestie magna,
      in blandit lectus turpis at lacus. Integer vitae tristique eros. Nulla convallis lectus at elit pretium
      dictum.</p>
  </md-card-content>
</md-card>

