<td-layout-nav logo="assets:covalent" xmlns="http://www.w3.org/1999/html">

  <td-layout-manage-list #manageList
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>BoardGames</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <a md-list-item  [routerLink]="['/boardgames']">
        <md-icon md-list-icon>account_circle</md-icon>
        All Users
      </a>
      <a md-list-item [routerLink]="['/boardgames']">
        <md-icon md-list-icon>star</md-icon>
        Favorites
      </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="text-capital"></span>
    </div>
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>BoardGame Form</md-card-title>
      <md-divider></md-divider>
      <md-card-content class="push-top">
        <form #userForm="ngForm">
          <div layout="row">
            <md-input-container flex>
              <input md-input
                     #displayNameElement
                     #displayNameControl="ngModel"
                     type="text"
                     placeholder="Name"
                     [(ngModel)]="boardGame.name"
                     name="boardGame.name"
                     maxlength="20"
                     required>
              <md-hint align="start">
                <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.errors?.required">Required</span>
                </span>
              </md-hint>
              <md-hint align="end"></md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            Choose Icon:
          </div>
          <div layout="row">
            <td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)"
                            [disabled]="false">
              <md-icon>file_upload</md-icon>
              <span>{{ singleFileUpload.files?.name }}</span>
              <template td-file-input-label>
                <md-icon>attach_file</md-icon>
                <span>Choose a file...</span>
              </template>
            </td-file-upload>
          </div>
          <br/>
          <div layout="row">
            <md-input-container flex>
              <input md-input
                     #displayNameElement
                     #displayNameControl="ngModel"
                     type="text"
                     placeholder="Fullname"
                     [(ngModel)]="boardGame.shortDescription"
                     name="shortDescription"
                     maxlength="20"
                     required>
              <md-hint align="start">
                <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.errors?.required">Required</span>
                </span>
              </md-hint>
              <md-hint align="end"></md-hint>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <input md-input
                     #displayNameElement
                     #displayNameControl="ngModel"
                     type="number"
                     placeholder="Price"
                     [(ngModel)]="boardGame.price"
                     name="price"
                     maxlength="20"
                     required>
              <md-hint align="start">
                <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.errors?.required">Required</span>
                </span>
              </md-hint>
              <md-hint align="end"></md-hint>
            </md-input-container>
          </div>
            <md-list>
              <div layout="row" layout-align="start start">
              <md-list-item *ngFor="let boardGameType of allBoardGameTypes">
                <md-checkbox [checked]="isChecked(boardGameType.name)" (change)="checkk(boardGameType)">
                  {{boardGameType.name}}
                </md-checkbox>
              </md-list-item>
              </div>
            </md-list>

          <md-divider></md-divider>
          <br/>
          <div layout="row">
            Pdf description:
          </div>
          <div layout="row">
            <td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)"
                            [disabled]="disabled">
              <md-icon>file_upload</md-icon>
              <span>{{ singleFileUpload.files?.name }}</span>
              <template td-file-input-label>
                <md-icon>attach_file</md-icon>
                <span>Choose a file...</span>
              </template>
            </td-file-upload>
          </div>
        </form>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button md-button [disabled]="!userForm.form.valid" color="primary" (click)="save()">SAVE</button>
        <button md-button (click)="goBack()">CANCEL</button>
      </md-card-actions>
    </md-card>
  </td-layout-manage-list>
</td-layout-nav>
